body {
    color: #999;
}
.chat{
    display: flex;
    justify-content: center;
}
.chat-users{
    border: 1px solid black;
    border-radius: 20px;
    min-width: 300px;
    margin-top: 20px;
    padding: 20px;
}
.chat-users__user{
    display: flex;
}
.chat-users__user__delete{
    margin-right: 20px;
}
.chat-messages{
    min-width: 500px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;
}
.chat-messages-list__item{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.chat-messages__form__input{
    width: 100%;
}
.chat_add{
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: blue;
    padding: 20px;
}
.left{
    display: flex;
    align-items: flex-start;
}